<div class="mt-5 pt-5">
    <h2 class="text-danger text-center">
        Error validation : Comprueba tus datos...
    </h2>
    <div class="text-center mt-4 ">
        <button class="mb-4 btn btn-success"><a href="/api/register" class="text-white p-2 ">Try again!</a></button>
        <button class="mb-4 btn btn-danger"><a href="/api" class="text-white p-2 ">Cancel</a></button>
    </div>
</div>